.awards {

    @media (max-width: 809px) {
        
        .margin {
            max-width: 375px;
            margin: 0 auto;
            padding: 22px 22px 0 22px;
        }
    }

    &__title {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .text-small {
            color: #001489;
            font-weight: bold;
            font-size: 14px;

            @media (max-width: 809px) {
                font-size: 12px;
            }
        }
    }

    &__prizes {
        ul {
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            @media (min-width: 1186px){
                flex-wrap: nowrap;
            }

            li {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-bottom: 35px;
                padding-right: 20px;

                @media (max-width: 809px) {
                    width: 100%;
                }
                
                .text {
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 20px;
                    color: #666;
                    margin: 16px 0 8px;
                }
                
                .text-small {
                    font-size: 14px;
                    line-height: 20px;
                    display: block;
                    color: #7d7d7d;
                }

                img {
                    object-fit: contain;
                    width: 50px;
                    max-height: 32px;
                    opacity: 0.5;
                }
            }
        }
    }
}