.awards {
    height: 200vh;
    padding: 43px 22px 0;
    max-width: 792px;
    width: 100%;
    margin: 0 auto;

    &__title {
        .title {
            font-size: 18px;
            color: #666;
        }
    }
}