// Melancolia
$melancholia-bg: url("https://images.mubicdn.net/images/film/38810/cache-47218-1672936667/image-w1280.jpg");

// Dançando no Escuro
$dancing-in-the-dark-bg: url("https://images.mubicdn.net/images/film/479/cache-40847-1675854471/image-w1280.jpg?size=800x");

// Anticristo
$anticristo-bg: url("https://images.mubicdn.net/images/film/2098/cache-50563-1674835882/image-w1280.jpg?size=800x");

// Ondas do Destino
$breaking-the-waves-bg: url("https://images.mubicdn.net/images/film/108/cache-785264-1653319107/image-w1280.jpg?size=800x");

// Os Idiotas
$the-idiots-bg: url("https://images.mubicdn.net/images/film/423/cache-35036-1674045676/image-w1280.jpg?size=800x");

// Manderlay
$manderlay-bg: url("https://images.mubicdn.net/images/film/1498/cache-48393-1675855405/image-w1280.jpg?size=800x");

// Elemento de Um Crime
$element-of-a-crime-bg: url("https://images.mubicdn.net/images/film/619/cache-114711-1676023253/image-w1280.jpg?size=800x");

// Europa
$europa-bg: url("https://images.mubicdn.net/images/film/768/cache-8352-1676023822/image-w1280.jpg?size=800x");

// As Cinco Obstruções
$five-obstructions-bg: url("https://images.mubicdn.net/images/film/481/cache-50275-1674065433/image-w1280.jpg?size=800x");
