.collections {

    @media (max-width: 809px) {
        .margin {
            max-width: 375px;
            margin: 0 auto;
            padding: 22px 22px 0 22px;
        }
    }
    
    &__title {
        margin-bottom: 20px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 809px) {
            display: block;
        }
        
        &__item {
            margin-right: 6px;
            margin-bottom: 36px;
            width: 368px;
            height: 78px;
            display: flex;
            background-color: white;

            @media (max-width: 809px) {
                width: 100%;
            }
            
            &__image {
                img {
                    width: 94px;
                    height: 100%;
                }
            }

            &__title {
                padding: 12px 15px;

                .title-small {
                    color: #323232;
                }
            }
        }
    }
}