.hero {
    height: 100vh;    
    background-image: url('./../images/dogville-1280x720.png');
    background-position: 61% 44%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .title {
        color: white;
    }
    
    &__gradiente {
        position: absolute;
        inset: auto 0 0 0;
        height: 58%;
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.6) 70%, rgba(0,0,0,0.8) 100%);
        z-index: 0;            
    
    }

    &__gradiente2 {
        position: absolute;
        inset: 0 0 auto 0;
        height: 25%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
        z-index: 0;            
    }
    
    &__layout {
        max-width: 792px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }
    
        &__top {

            &__header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                height: 60px;

                &__nav {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &__hamburguer {
                        display: flex;
                        align-items: center;
                    }

                    &__logo {
                        display: flex;
                        align-items: center;
                    }

                    &__bullet {
                        display: flex;
                        align-items: center;
                        height: 12px;
                        width: 12px;
                        background-color: rgb(200, 200, 200);
                        border-radius: 50%;
                    }
                }
                
            }


            &__down {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 35px;

                &__labels {
                    .title {
                        font-size: 16px;
                    }
                }
    
                &__ratings {
                    display: flex;
                    flex-direction: column;
    
                    &__rating {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        font-weight: bold;
    
                        .title {
                            font-size: 24px;
                        }

                        &__value {
                            margin-left: 7px;


                        }
    
                        &__scale {
                            letter-spacing: 1px;
                            margin-left: 2px;
                        }
                    }

                    &__reviews {
                        margin: 1px 0 0 27px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    
    &__bottom {
        padding: 0 0 30px 0;

        &__play {
            height: 90px;
            margin-bottom: 30px;

            &__button {
                circle {
                    stroke-width: 0.5px;
                    stroke: white;
                    fill: transparent;
                }

                path {
                    fill: white;
                }

                &:hover {
                    circle {
                        stroke-width: 0;
                        fill: #001489;
                    }
                }
            }



            svg {
                height: 90px;
            }
        }

        &__title {
            display: inline-block;
            min-height: 40px;
            max-width: 500px;
            margin-bottom: 10px;

            .title {
                font-size: 30px;
            }
        }

        &__trailer {
            float: right;
            border: 1px solid white;
            padding: 5px 13px;
            border-radius: 999px;
            display: flex;
            align-items: center;

            &__arrow {
                width: 10px;
                margin-right: 7px;
            }

            .text-small {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        &__columns {
            display: flex;
        }

        &__infos {
            flex: 0 0 350px;

            &__director {
                .text {
                    font-weight: bold;
                }
            }

            &__genres {
                margin: 6px 0 10px;
            }

            &__specs {

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    ul {
                        vertical-align: baseline;
                        display: flex;
                        margin-bottom: 8px;
                        margin-right: 12px;
                        gap: 5px;                        
                    }
                }

                img {
                    height: 19px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    margin-right: 7px;
                }
            }

            .hr {
                border-top: 1px solid white;
                opacity: 0.2;
            }

            &__buttons {
                display: flex;
                gap: 12px;
                padding-top: 12px;

                &__group {
                    circle {
                        fill: transparent;
                        stroke: white;
                        stroke-width: 1;
                        
                    }
                    
                    path {
                        fill: white;                        
                    }

                    &:hover {
                        circle {
                            fill: white;
                        }

                        path {
                            fill: black;
                            stroke: black;
                            stroke-width: 1.3;
                        }
                    }
                    
                }


            }
        }

        &__story {
            margin: 0 0 0 auto;
            
            
            &__resume, &__opinion {
                margin-top: 20px;
                width: 350px;
                
                .text-small {
                    line-height: 1.4;
                }

                .text {
                    font-weight: bold;
                    text-transform: uppercase;
                    padding-right: 5px;
                    display: inline;
                }
            }
        }

        &__footer {
            height: 24px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            position: relative;

            &__arrow {
                transform: rotate(270deg);
                width: 45px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 11px;
                }
            }

            &__share {
                display: flex;
                align-items: baseline;
                position: absolute;
                right: 0;
                display: flex;

                &__text {
                    margin-right: 5px;
                }
            }
        }
    


    }
    
    }