.lists {

    .text, .text-small {
        color: #666666;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px 5px;

        &__card {
            background-color: white;

            &__images {
                height: 138px;
                display: flex;

                img {
                    height: 100%;
                    object-fit: cover;
                }
                
                .large {
                    width: 67%;
                    padding-right: 2px;
                }
                
                .side {
                    width: 33%;
                    height: calc(50% - 1px);
                    gap: 2px;
                    display: flex;
                    flex-direction: column;
                }
            }

            &__texts {
                padding: 20px;

                .name-author {
                    margin-bottom: 12px;

                    .text-small {
                        font-size: 14px;
                        color: #9b9b9b;
                    }
                }

                .movies-followers {
                    display: flex;

                    .text {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #9b9b9b;
                        margin-right: 4px;
                    }

                    .text-blue {
                        color: #001489;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}