@import 'backgrounds';

.related-movies {
    
    .gradient {
        position: absolute;
        inset: 0 0 auto 0;
        height: 50%;
        background: linear-gradient( rgba(0, 0, 0, 0.4) 0%, transparent 100%);
        z-index: 0;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__card {
        background-color: white;
        width: 100%;
        height: 270px;
        display: flex;
        margin-bottom: 36px;
        
        .image {
            width: 50%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            
            
            
            &.melancolia {
                background-image: $melancholia-bg;
            }
            
            &.dancando-no-escuro {
                background-image: $dancing-in-the-dark-bg;
            }

            &.anticristo {
                background-image: $anticristo-bg;
            }

            &.ondas-do-destino {
                background-image: $breaking-the-waves-bg;
            }

            &.os-idiotas {
                background-image: $the-idiots-bg;
            }

            &.manderlay {
                background-image: $manderlay-bg;
            }

            &.elemento-de-um-crime {
                background-image: $element-of-a-crime-bg;
            }

            &.europa {
                background-image: $europa-bg;
            }

            &.as-cinco-obstrucoes {
                background-image: $five-obstructions-bg;
            }
            
            .title {
                font-size: 27px;
                color: white;
                padding-top: 20px;
                padding-left: 20px;
                z-index: 2;
                position: relative;
            }

            .director-country-year {
                padding-left: 20px;

                .title-small {
                    font-weight: normal;
                    font-size: 15px;
                    color: white;
                    z-index: 2;
                    position: relative;
                }
                
                .bold {
                    font-weight: bold;
                    // padding-left: 20px;
                    z-index: 2;
                    position: relative;
                }
            }
            
        }

        .texts {
            width: 50%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .text-small {
                font-size: 13px;
                color: #323232;
                margin-bottom: 13px;
                line-height: 19px;
            }

            .buttons {
                height: 38px;
                display: flex;
                align-items: center;
                gap: 13px;                

                .title-small {
                    color: white;
                }

                .watch {
                    background-color: #001489;
                    display: inline-flex;
                    border-radius: 999px;
                    padding: 9px 17px;
                    align-items: center;

                    svg {
                        height: 13px;
                        width: 13px;
                        margin-right: 5px;
                    }
                }

                .circles {
                    display: flex;
                    align-items: center;
                    gap: 13px;
                    
                    svg {
                        width: 28px;
                    }

                    .star {
                        fill: transparent;
                        stroke: black;
                        stroke-width: 1.3;

                        &:hover {
                            fill: #001489;
                            stroke: white;

                            path {
                                fill: white;
                            }
                        }
                    }

                    .plus {

                        circle {
                            fill: transparent;
                            stroke: black;
                            stroke-width: 1;
                        }

                        path {
                            stroke: black;
                            stroke-width: 2;
                            stroke-linecap: round;
                        }

                        &:hover {

                            circle {
                                fill: #001489;
                            }

                            path {
                                fill: white;
                                stroke: white;
                                stroke-width: 2.5;
                            }
                        }
                    }
                }
            }

            .specs {
                display: flex;
                opacity: 0.5;
                
                li {
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
                    
                    .text-small {
                        display: inline;
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                }
                
                svg {
                    height: 12px;
                    vertical-align: middle;
                }
            }
        }
    }
}