.reviews {
    background-color: white;

    @media (max-width: 809px) {
        
        .margin {
            max-width: 375px;
            margin: 0 auto;
            padding: 22px 20px 20px 20px;

        }
    }

    &__title {
        margin-bottom: 30px;
    }

    &__featured {
        display: flex;
        height: 202px;
        width: 100%;
        padding-bottom: 20px;

        @media (max-width: 809px) {
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        @media (min-width: 1186px) {
            height: 249px;
        }

        @media (min-width: 1562px){
            width: calc(50% - 16px);
        }

        &__image {
            padding-right: 10px;
            height: 100%;
            width: 50%;
            min-width: 360px;
            // min-height: 185px;

            @media (max-width: 809px) {
                padding-right: 0;
                width: 100%;
                // height: 100%;
                min-width: 100%;
                // min-height: 100%;
            }

            @media (min-width: 1186px) {
                width: 42%;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &__text {
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 809px){
                padding: 0;
                width: 100%;
            }

            @media (min-width: 1186px){
                width: 58%;
            }

            .title {
                text-transform: none;
                color: #323232;
                padding: 7px 0;
                font-size: 20px;

                @media (min-width: 1186px) {
                    font-size: 24px;
                }
            }

            .text {
                color: #666666;
                font-size: 14px;

                @media (min-width: 1186px) {
                    font-size: 16px;
                }
            }

            &__below {
                display: flex;
                justify-content: space-between;

                @media (max-width: 809px) {
                    padding-top: 10px;
                }

                &__authorship {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 10px;
    
                    .text-small {
                        color: #001489;
                        font-weight: bold;
                        margin-right: 2px;
                    }
        
                    time {
                        color: rgb(155,155,155);
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 0.4px;
                        display: flex;
                        align-items: baseline;
        
                        &::before {
                            content: "•";
                            font-size: 14px;
                            vertical-align: middle;
                            line-height: 0;
                            margin: 0 5px;
                        }
                    }
                }

                &__comments {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    line-height: 0.7;

                    .text {
                        padding-top: 2px;
                        margin-left: 5px;
                    }
                }
            }



        }
    }

    hr {
        height: 1px;
        background: #eaeaea;
        border: 0px;
        margin: 0px;
    }

    &__grid {

        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            
            &__title {
                display: flex;
                align-items: flex-end;


                @media (max-width: 809px) {
                    display: block;

                    .title {
                        margin-bottom: 20px;
                    }
                }
                
                &__stars {
                    margin-left: 15px;    
                    display: flex;

                    @media (max-width: 809px) {
                        margin-left: 0;
                    }
                }
            }
            
            .text-small {
                color: #001489;
                font-weight: bold;
                font-size: 12px;
            }
        }
        
        &__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            @media (max-width: 809px) {
                display: block;
            }

            .text {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 17px;
                color: #323232;
                line-height: 26px;
            }

            &__card {
                width: calc(50% - 15px);

                @media (max-width: 809px) {
                    width: 100%;
                    padding: 10px 0;
                    margin-bottom: 30px;
                }

                @media (min-width: 1186px){
                    width: calc(33% - 30px);
                }

                @media (min-width: 1186px){
                    width: calc(33% - 30px);
                }

                img {
                    display: block;
                    margin: 0 auto 40px auto;
                    height: 45px;
                }

                &__footer {
                    margin-top: 10px;
                    padding-top: 10px;
                    border-top: 3px solid black;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        color: #323232;
                        font-size: 14px;
                        font-weight: bold;
                    }

                    .text {
                        font-family: "DM Sans", Arial, sans-serif;
                        font-size: 14px;
                        color: #9b9b9b;
                    }

                    .text-small {
                        color: #323232;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }

            }


        }
        
    }
}