@use 'hero';
@use 'playlists';
@use 'header';
@use 'collections';
@use 'awards';
@use 'cast';
@use 'reviews';

$corDeFundo: #eaeaea;
$corTexto: #fff;
$fontSize: 16px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", Arial, sans-serif;
    color: $corTexto;
}

body {
    background-color: $corDeFundo;
}

.margin {
    max-width: 792px;
    width: 100%;
    margin: 0 auto;
    padding: 43px 22px 34px 22px;
    // border: 1px solid blue;
    
}

ul {
    list-style: none;
}

.opacity {
    opacity: 0.5;
}

.border {
    border: 1px solid blue;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    color: $corTexto;
}

@mixin title($fontSize: 18px){
    @include text($fontSize);
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    color: #666;
}

.text {
    @include text;
}

.text-small {
    @include text(14px);
}

.title {
    @include title;
}

.title-small {
    @include title($fontSize: 16px);
}
